<section class="card">
  <!-- Section: contact -->
  <div id="fh5co-contact" data-section="contactanos">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="heading to-animate">Contactanos </h1>
          <h3 class="sub-heading to-animate">Si eres un veterinario y quieres hacer uso de nuestro servicio, o si tienes
            alguna duda o sugerencia contactanos a través de los siguientes medios.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 to-animate-2">
          <h2>Información de contacto</h2>
          <ul class="fh5co-contact-info">
            <li class="fh5co-contact-address ">
              <i class="icon-home"></i>
              5555 Love Paradise 56 New Clity 5655, <br>Excel Tower United Kingdom
            </li>
            <li><i class="icon-phone"></i> (123) 465-6789</li>
            <li><i class="icon-envelope"></i>info@freehtml5.co</li>
            <li><i class="icon-globe"></i> <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></li>
          </ul>
        </div>


      </div>
    </div>
  </div>
  </div>
</section>