<div class="jumbotron mt-10">
  <h1 class="display-4"><strong>Sistema de ayuda en el manejo de información y cuidado de mascotas</strong> </h1>
  <h3>Fugit weco</h3>
  <img width='980px' height='550px' src="/img/678980.jpg">

</div>